#home{
  text-align: center;
  margin: 0px;
  width: 100%;
}

#joinq{
  /*background-color: #73d371;*/
  background: linear-gradient(#57ce65 0%, #4dce5f 51%, #46b750 90%);
  height: 600px;
  /*background-image: url("../images/joinqwhite.png");*/
/*  background-image: url("../images/joinqblack.png");
  background-repeat: no-repeat;
  background-position: 170px 300px;*/ 
/*    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out; */ 
    transition: background 1s ease-out; 
    background-size:1px 600px;
    border: 1px solid #46b750;  
    /*cursor:pointer;  */
    /*width: 150px;  */
    height: 600px; 
}
#joinq h3, #createq h3{
    transition: font 0.3s ease;
    /*height:900px;*/
}

#joinq h3:hover{
  font-size: 48px;
  /*background-position:-6000px;*/
  /*background: linear-gradient(#60d86b 0%, #55d861 51%, #4cbf52 90%);*/
  /*width:700px;*/
}

#joinq h3, #createq h3{
  color: white;
  font-weight: 200;
  /*vertical-align: middle;*/
  line-height: 450px;
}

#createq{
  /*background-color: #71b2d3;*/
  background: linear-gradient(#28c6b6 0%, #1fc8db 51%, #2cb5e8 90%);
  height: 600px;
  /*background-image: url("../images/createq.png");*/
/*  background-repeat: no-repeat;
  background-position: 270px 290px;*/
  transition: background-color 0.4s ease;
}

#createq h3:hover{
  font-size: 48px;
  /*background-color: #61a6c1;*/
}

#logo{
  margin-left: 110px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 400;
}

label.qtype{
  margin-left: 75px;
}

label.qtype-left{
  margin-left: 0px;
}

.myContainer{
  padding:30px 50px;
  margin: 50px;
}

#createqform{
  padding: 20px 35px;
  margin-top: -1.0rem;
}

#managementNote{
  color: #666666;
  background-color: #f2f2f2;
  padding:10px 20px 10px 110px;
  /*display:;*/
  /*margin-left: 20px;*/
}

#managementNote p{
  display: inline;
}

#managementNote a{
  margin-left: 580px;
  font-size: 14px;
  padding: ;
  /*float:right;*/
  /*margin-bottom: 15px;*/
}


#queueContainer{
  padding:10px 50px;
  margin: 10px 50px;
}

.bigNumber{
  margin: 0px auto;
  font-size:140px;
  font-weight: 900;
  height: 200px;
  /*color: rgb(38, 166, 154);*/
}

.capacityDisplay{
  text-align: center;
  margin-top: -70px;
}

.capacityDisplay p{
  text-align: center;
  display: inline;
}

.capacityDisplayInQ{
  text-align: center;
  margin-top: -40px;
}

.capacityDisplayInQ p{
  text-align: center;
  display: inline;
}


#outof{
  font-size:40px;
  font-weight: 400;
  margin-left: -25px;
}

.pplCurrentlyInQ{
  margin-top: -30px;
}

#urCurrently{
  margin-bottom: -30px;
}

.browseq{
  /*height: 400px;*/
}

td, th{
  padding: 10px 20px;
}

.waitTime{
  /*text-align: center;*/
}

.card .card-image img{
  width: 100px;
  /*padding: 10px auto;*/

}

.card .card-content{
  padding-top: 0px;
}

.joinIcon{
  padding-top: 20px;
  margin-left: 75px;
}

.card-content{
  text-align: center;
}
/*
#cmqLogo{
  margin-left: 110px;
}*/

#deq{
  margin-left: 85px;
  margin-bottom: 6px;
}

#managerHeader{
  margin-bottom: 0px;
}

hr{
  color: #666666;
}

#listTitle{
  /*display:inline;*/
  margin-left: 66px;
  /*margin-top: 40px;*/
}

.qicon{
  /*margin-top: 50px;*/
  position: absolute;
}

#logout{
  margin-right:100px;
}

#radioButtons{
  margin-left: 10px;
}

#qtypeLabel{
  color: rgb(158, 158, 158);
  font-size: 14px;
}

#createqButton{
  margin-left: 10px;
}

.inq{
  cursor: default;
}

#bg{
  /*position: absolute;*/
}

#loginPrompt{
  position: absolute;
  margin-top: -470px;
  margin-left: 385px;
  padding: 50px;
  width: 520px;
  /*padding: 100px 230px;*/
}

input[type="password"]
{
  -webkit-text-security: disc;
}

#loginFooter{
  margin-top: -10px;
}

footer.page-footer .footer-copyright{
  padding-top: 0px;
  padding-bottom: 0px;
}

footer.page-footer{
  padding-top: 10px;
}

footer.page-footer p {
  text-align: center;
}

#createqIcon{
  margin-left: -50px;
  position: absolute;
  margin-top:-200px;
}

#joinqIcon{
  margin-left: -140px;
  position: absolute;
  margin-top:-190px;
}